<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <h1>Activities</h1>
    <% @activities.each do |activity|%>
      <p><%=activity["name"]%> [<%= activity["Category"]%>]
      Located in <%=activity["City"]%>
      Duration of<%=activity["Duration"]%>
      For <%=activity["number of participants"]%>
      Charged <%=activity["Price"]%></p>
  <% end %>
  </body>
</html>
